.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.nav-ico {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../../demo-images/menu.png) no-repeat;
  width: 49px;
  height: 32px;
  background-size: 32.66667px 21.33333px;
  background-position: center;
}
@media (min-width: 720px) {
  .nav-ico {
    display: none;
  }
}

.nav-hide {
  display: block;
  text-align: right;
  color: #fff;
  padding: 4px;
  background-color: transparent;
}
.nav-hide label {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 6px 16px;
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #37a508;
}
@media (min-width: 720px) {
  .nav-hide {
    display: none;
  }
}

.header-nav {
  padding-top: 30px;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #37a508;
  text-align: center;
}
@media (min-width: 720px) {
  .header-nav {
    display: block;
    height: 42px;
    padding-top: 0;
    width: 100%;
    left: initial;
    top: initial;
    bottom: initial;
    position: relative;
  }
}
.header-nav .nav-main {
  max-width: 980px;
  margin: 0 auto;
}
.header-nav .active {
  background-color: #279005;
}
.header-nav ul {
  padding: 0;
  margin: 0;
}
.header-nav ul > li {
  position: relative;
  list-style: none;
  display: block;
  border-bottom: 1px solid #fff;
}
@media (min-width: 720px) {
  .header-nav ul > li {
    float: left;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border-bottom: none;
  }
}
.header-nav ul > li:hover {
  background-color: #279005;
}
@media (min-width: 720px) and (min-width: 720px) {
  .header-nav ul > li:hover .nav-items {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    visibility: visible;
  }
}

.header-nav ul a {
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 42px;
  color: #fff;
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.4s;
}
@media (min-width: 720px) {
  .header-nav ul a {
    opacity: initial;
    transform: initial;
    transition: initial;
  }
}

.nav-items {
  display: none;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  min-width: 100%;
  margin-top: -1px;
  background-color: #fff;
}
@media (min-width: 720px) {
  .nav-items {
    z-index: 9999;
    position: absolute;
    left: 0;
    visibility: hidden;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border: 1px solid #37a508;
  }
}
.nav-items ol {
  padding: 0;
  margin: 0;
}
.nav-items ol > li {
  list-style: none;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 720px) {
  .nav-items ol > li {
    padding: 0 10px;
  }
}
.nav-items ol a {
  text-decoration: none;
  line-height: 42px;
  color: #000;
  border-bottom: 1px solid #ddd;
}
@media (min-width: 720px) {
  .nav-items ol a {
    border-right: 0;
    border-bottom: none;
  }
}
.nav-items ol a:hover {
  color: #37a508;
}

.nav-aside-main {
  transition: all 0.25s;
}

#tm {
  display: none;
}
#tm:checked ~ .nav-aside-main {
  transform: translateX(150px);
}
#tm:checked ~ .header-nav ul > li a {
  opacity: 1;
  transform: translateX(0);
}
#tm:checked ~ .header-nav ul > li:nth-child(1) > a {
  transition-delay: 0.08s;
}
#tm:checked ~ .header-nav ul > li:nth-child(2) > a {
  transition-delay: 0.16s;
}
#tm:checked ~ .header-nav ul > li:nth-child(3) > a {
  transition-delay: 0.24s;
}
#tm:checked ~ .header-nav ul > li:nth-child(4) > a {
  transition-delay: 0.32s;
}
#tm:checked ~ .header-nav ul > li:nth-child(5) > a {
  transition-delay: 0.4s;
}
#tm:checked ~ .header-nav ul > li:nth-child(6) > a {
  transition-delay: 0.48s;
}
#tm:checked ~ .header-nav ul > li:nth-child(7) > a {
  transition-delay: 0.56s;
}
#tm:checked ~ .header-nav ul > li:nth-child(8) > a {
  transition-delay: 0.64s;
}

.tm-children {
  display: none;
}

#tm-children1:checked ~ .nav-items {
  display: block;
}

#tm-children2:checked ~ .nav-items {
  display: block;
}

.arrow {
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
  margin: 0;
}

.arrow-left:before {
  border: none;
  background-color: #37a508;
  height: 30%;
  width: 50%;
  top: 35%;
  left: 50%;
}

.arrow-left:after {
  left: -50%;
  top: 0;
  border-width: 8px 8px;
  border-right-color: #37a508;
}
