doctype html
html(lang="zh_CN")
  head
    title susy layout
    link(rel="stylesheet", type="text/css" ,href="../../style/css/layout-one.css")
  body
    div.container
      h1 The 10 column coplex nested grid AG test
      div.ag.ag1
        h2 AG 1

      div.ag.ag2
        h2 AG 2
        div.ag.ag4
          h2 AG 4
        div.ag.ag5
          h2 AG 5
        div.ag.ag6
          h2 AG 6
        div.ag.ag7
          h2 AG 7
          div.ag.ag8
            h2 AG 8
          div.ag.ag9
            h2 AG 9
          div.ag.ag10
            h2 AG 10
      div.ag.ag3
        h3 AG 3
